<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Todo Application</title>
    <style>
      .error{
          color: red;
          margin-left:0;
      }
      .success{
        display:none;
        color:green;
        width:30%;
        margin-left:auto;
      }
      .utility{
        display: flex;
        flex-direction:row;
      }
      .utility .elem{
        margin: 10px;
      }
      
     
      .inner li{
        position:relative;
        width:100%;
        padding:10px;
        display:flex;
        margin:5px;
        align-items:center;
      }
      li>button{
        position:absolute;
        right:0;
        
      }
      .due_date_status{
        display:none;
        color:red;
        width:30%;
        margin-left:auto;
        margin-right:0;
      }
    </style>    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">myTodo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="create">Create A New List</a>
              </li>
              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    List Options
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="create" >Create a new list</a></li>
                </ul>
              </li> {% endcomment %}
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        {% if  todolists%}
        <ul class="list-group">
            {% for todolist in todolists %}
            <div class="utility">
              <span class="list_name elem">{{todolist.list_name}}</span>
              <div class="dropdown elem">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                  List Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="update/{{todolist.id}}">Update List</a>
                  <a class="dropdown-item" href="delete/{{todolist.id}}">Delete List</a>
                  <a class="dropdown-item" href="add_item/{{todolist.id}}">Add Item</a>
                </div>
              </div>
            </div>
        
          <ul class="list-group inner">
                {% for item in items %}
                  {% if item.todo_list == todolist %}
                    <li class="list-group-items list-group-item-primary">
                    <span class="title">{{item.title}}</span> 
                    {% if item.checked == False %}
                    <span class="due_date_status error">Due: {{item.due_date}}</span>
                    {% else %}
                    <span class="success">Done! </span>
                    {% endif %}
                    <button type="button" class="btn btn-info">Info</button>
                    </li>
                  {% endif %}
                {% endfor %}
            {% endfor %}
          </ul>
        {% else %}
          <b class="error">You have not created any lists yet!</b>
        </ul>
        {% endif %}
      </div>
      
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    
  </body>
  <script>
    let items = document.querySelectorAll('#item-info');
    let parents = document.querySelectorAll('.inner');
    let span = document.querySelectorAll('.info')
    console.log(items)
    console.log(parents)
    let info = document.querySelectorAll('.btn-info')
    info.forEach(item =>{
      let toggle = true;
      item.addEventListener('click', (event)=>{
          if(toggle){
            item.innerText = 'Hide Info';
            item.previousSibling["previousSibling"].style.display = 'inline-block';
            toggle = false;
          }
         else{
           item.innerText = 'Info';
            item.previousSibling["previousSibling"].style.display = 'none';

           toggle = true;
         }
      })
    })
    
  </script>
</html>